.body {
  background-color: #c4c4c4;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.body a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

@media (min-width: 0) {
  .body {
    overflow: auto;
  }
}
