body {
  font-family: "Calibri";
}

::-webkit-scrollbar{
  height: 2px;
  width: 2px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #000000, #00c3ff);
  border-radius: 5px;
}